# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
apps/cli/.env.singlenet

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

staking-epoch-ledger.json
test-ledger.json

packages/sdk/cache
packages/sdk/daemon.json
packages/sdk/.data
packages/sdk/test/.data/cache
packages/sdk/thresholds-chart.svg
apps/cli/cache
apps/cli/test/fixtures/cache
apps/indexer/test/fixtures/archive/
.cursor/
.pnpm-store/
.local/
apps/api/cache/
apps/cli/cache-*/
packages/local-blockchain/cache/
apps/api/.data/
apps/cli/.data/
devops/.env.compose
devops/.env.testnet
devops/.env.local-blockchain
apps/api/.env.testnet
apps/api/.env.local-blockchain
apps/cli/.env.testnet
apps/cli/.env.local-blockchain
apps/web/.env.testnet
apps/web/.env.local-blockchain
packages/local-blockchain/.env.testnet
packages/local-blockchain/.env.local-blockchain
devops/.env.dev
apps/api/.env.dev
apps/cli/.env.dev
apps/web/.env.dev
packages/local-blockchain/.env.dev
devops/.data/
.data/testnet-*
.data/local-blockchain-*
apps/docs/.docusaurus/
apps/docs/build/
