@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 18%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 18%;
    --primary: 11 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 18%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 46%;
    --accent: 0 0% 94%;
    --accent-foreground: 0 0% 18%;
    --destructive: 0 79% 57%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 18 95% 68%;
    --radius: 0.8rem;
    --brand-orange: 11 100% 62%;
    --brand-pink: 339 85% 50%;
    --brand-mint: 157 56% 76%;
    --brand-lavender: 0 0% 94%;
    --brand-sky: 194 65% 76%;
    --brand-dark: 205 23% 16%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
