@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 205 23% 16%;
    --card: 0 0% 100%;
    --card-foreground: 205 23% 16%;
    --primary: 11 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94%;
    --secondary-foreground: 205 23% 16%;
    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 42%;
    --accent: 194 65% 90%;
    --accent-foreground: 205 23% 16%;
    --destructive: 0 79% 57%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 88%;
    --input: 0 0% 88%;
    --ring: 18 95% 68%;
    --radius: 0.8rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
